accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
annotated-types
ansi2html
anthropic
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
babel
backoff
bcrypt
beautifulsoup4
bitsandbytes
bleach
blinker
Brotli
build
cached-property
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
clickhouse-connect
colorama
coloredlogs
comm
contourpy
cryptography
cycler
dash
dataclasses-json
datasets
debugpy
decorator
defusedxml
Deprecated
dill
distro
dnspython
duckdb
durationpy
email_validator
exceptiongroup
executing
faiss
faiss-cpu
fastapi
fastapi-cli
fastjsonschema
feedparser
ffmpy
filelock
Flask
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gensim
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
gradio
gradio_client
greenlet
grep
groovy
grpcio
grpcio-status
grpclib
h11
h2
hnswlib
hpack
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface_hub
humanfriendly
hyperframe
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-dash
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
lz4
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
mmh3
modal
monotonic
mpmath
multidict
multiprocess
munkres
mypy-extensions
narwhals
nbclient
nbconvert
nbformat
nest_asyncio
networkx
notebook_shim
numpy
oauthlib
ollama
onnxruntime
onnxruntime-gpu
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
optree
orjson
outcome
overrides
packaging
pandas
pandocfilters
parso
pdfminer.six
pdfplumber
pickleshare
pigar
pillow
pip-tools
pkgutil_resolve_name
platformdirs
plotly
posthog
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pybind11
pybind11_global
pycparser
pydantic
pydantic-settings
pydantic_core
pydub
Pygments
PyJWT
pyparsing
pypdfium2
PyPika
pyproject_hooks
pyreadline3
PySide6
PySocks
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
pywin32
pywinpty
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
requests-toolbelt
retrying
rfc3339_validator
rfc3986-validator
rich
rich-toolkit
rpds-py
rsa
ruff
safehttpx
safetensors
scikit-learn
scipy
selenium
semantic-version
Send2Trash
sentence-transformers
sentencepiece
sgmllib3k
shellingham
shiboken6
sigtools
six
smart-open
sniffio
sortedcontainers
soupsieve
speedtest-cli
SQLAlchemy
stack_data
starlette
sympy
synchronicity
tenacity
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
tomli
tomlkit
torch
tornado
tqdm
traitlets
transformers
trio
trio-websocket
twilio
typer
typer-slim
types-certifi
types-python-dateutil
types-toml
typing-inspect
typing_extensions
typing_utils
tzdata
unicodedata2
uri-template
uritemplate
urllib3
uvicorn
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
win_inet_pton
wrapt
wsproto
xxhash
yarl
zipp
zstandard
